.image-filtered {
    background-image: linear-gradient(to bottom, rgba(245,246,252,0.22), rgba(188,19,19,0.43)), url('../img/Diablo_Immortal.jpg');
    width: auto;
    height: 15vh;
    background-size: cover;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 100px;
}

.head-main {
    text-shadow: 2px 4px 5px rgba(0,0,0,0.9);
    font-variant: small-caps;
    color: #fff;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5em;
    text-align: left;
    font-family: impact, sans-serif;
    line-height: 2;
    font-weight: 900;
    border: 5px double #fff;
    padding: 10px;
}

/* Day Display Class for top table */

.day-display {
    border: 1px solid #1C6EA4;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

    .day-display th {
        background-color: black;
    }

    .day-display td, th {
        padding: 5px;
    }

    .day-display a {
        text-decoration: none;
        color: #fff;
    }

    .day-display a:hover {
        color: rgb(255, 255, 0);
    }

    .day-display th:hover {
        background-color:rgba(188,19,19,0.73);
        transform: scale(1.5);
    }

.column {
    float: left;
    width: 50%;
    height: 60vh;
}

.row:after {
    content: "",
    display: table;
    clear: both;
}

.left-col {
    color: rgb(8, 0, 255);
}

.right-col {
    color: rgb(255, 94, 0);
}

.text-left {
    color:rgb(8, 0, 255)
}

.text-right {
    color:rgb(255, 94, 0)
}
/* Challenge 7: Create a hover CSS effect for <p> element */
.text-left:hover, .text-right:hover {
    transform: scale(1.2);
}

.video-container {
    position: relative;
    text-align: center;
    color: white;
}

.video-cover {
    position: absolute;
    text-shadow: 2px 4px 5px rgba(0,0,0,0.9);
    font-variant: small-caps;
    color: #fff;
    letter-spacing: 5pt;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.6);
    width: 84%;
    height: 84%;
}

@media  and (max-width: 600px) {
    html {
        background-color: blue;
    }
}
